

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <iframe fxFlex="50" class="cam" src='https://www.cameraftp.com/Camera/CameraPlayer.aspx/parentID312764122/shareID14830821/isEmbeddedtrue/Cam1' style='border:0px; overflow:hidden;' scrolling='no'></iframe>
    <iframe fxFlex="50" class="cam" src='https://www.cameraftp.com/Camera/CameraPlayer.aspx/parentID312975745/shareID14831570/isEmbeddedtrue/java_cam003' style='border:0px; overflow:hidden;' scrolling='no'></iframe>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <iframe fxFlex="50" class="cam" src='https://www.cameraftp.com/Camera/CameraPlayer.aspx/parentID201332196/shareID13484077/isEmbeddedtrue/Chicken Nuggers' style='border:0px; overflow:hidden;' scrolling='no'></iframe>
    <iframe fxFlex="50" class="cam" src='https://www.cameraftp.com/Camera/CameraPlayer.aspx/parentID290624304/shareID14436854/isEmbeddedtrue/NOG8769249-1' style='border:0px; overflow:hidden;' scrolling='no'></iframe>
</div>