.cam {
    height: 300px !important;
    // width: 100% !important;
    max-width: 900px !important;
    width: 540px;
    padding-bottom: 10px !important;
    padding-right: 10px !important;
    border:0px; 
    overflow:hidden;
}