<div [ngStyle]="{'font-size': mini ? '14px' : 'initial'}">
    <h4 matTooltipPosition="above"
    [matTooltip]="device.description"
    [ngStyle]="{'text-align': mini ? 'center' : 'left'}">{{ device.name | slice:0:27 }}{{ device.name.length > 27 ? '&hellip;' : '' }}</h4>

    <img *ngIf="device.image !== null && !mini" class="device-image handle"
    [src]="imageName"
    onerror="this.style.display='none'"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()">

    <mat-icon *ngIf="device.image == null && !mini" matListIcon
        class="device-image handle"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()">drag_handle
    </mat-icon>

    <span class="topic" *ngIf="!mini">
        topic: {{ device.topic }} 
    </span>

    <!-- <br>
    <br> -->

    <div class="button-group" [ngStyle]="{'margin-top': mini ? '0' : '2.1em'}">
        <span [ngStyle]="{'font-size': mini ? '1.3em' : '3.2em'}">{{device.data === null ? '--' : device.data}} {{device.dimension}}</span>
    </div>
</div>