h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.mat-icon {
    font-size: 1em;
}
  
.mat-icon {
    position: relative;
    padding: 0 20px;
    top: 5px;
}

.button-group {
    margin-top: 1rem;
    text-align: center;
}

.power-icon {
    font-size: 3rem;
    font-weight: bold;
}

.device-image {
    height: 100%;
    width: auto;
}

.info {
    height: 50px;
}

.indication {
    font-size: 2rem;
}

.topic {
    font-size: 0.8rem;
}