.stats-cards {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.sensor-card {
  width: 210px;
  vertical-align: top;
  height: 130px;
  padding: 20px;
  margin-right: 1.2rem;
  margin-bottom: 1rem;
}
