  
<ng-template #onoffdeviceRef let-onoffdevice>
    <mat-card class="card" [ngClass]="{'disabledItem': isDisabled}">
        <app-widget-onoffdevice [device]="onoffdevice" [theme]="themeService.alternativeTheme"></app-widget-onoffdevice>
    </mat-card>
</ng-template>
<ng-template #sensorRef let-sensor>
    <mat-card class="card" [ngClass]="{'disabledItem': isDisabled}">
        <app-widget-sensor [device]="sensor" [theme]="themeService.alternativeTheme"></app-widget-sensor>
    </mat-card>
</ng-template>
<ng-template #paramdeviceRef let-paramdevice>
    <mat-card class="card" [ngClass]="{'disabledItem': isDisabled}">
        <app-widget-paramdevice [device]="paramdevice" [theme]="themeService.alternativeTheme"></app-widget-paramdevice>
    </mat-card>
</ng-template>

<div [sortablejs]="devices" class="gridLayout" 
    [sortablejsOptions]="{ animation: 250, handle: '.handle' }">
    <div class="grid-square" *ngFor="let device of devices; let i=index" >
        <ng-template [ngTemplateOutlet]="(
                        ( ( devices[i].type === 'onoffdevice' ) && onoffdeviceRef ) ||
                        ( ( devices[i].type === 'sensor' ) && sensorRef ) ||
                        ( ( devices[i].type === 'paramdevice' ) && paramdeviceRef )
                    )"
                    [ngTemplateOutletContext]="{ $implicit: devices[i] }">
        </ng-template>
    </div>
</div>