.grid-square {
    width: 255px;
    height: 140px;
    padding: 0 0 3rem 1rem;
}

.disabledItem {
    pointer-events: none;
    opacity: 0.4;
}

.card {
    height: 100%;
}

.gridLayout {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
