<div class="container">
  <h3 mat-dialog-title>Add new Device</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="primary">
        <input matInput #input class="form-control" placeholder="Name" [(ngModel)]="data.name" name="name" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="primary">
        <textarea matInput #input rows="1" class="form-control" placeholder="Description" [(ngModel)]="data.description" name="description"></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="primary">
        <input matInput #inputstate class="form-control" placeholder="Topic" [(ngModel)]="data.topic" name="topic" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <!-- <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint> -->
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="primary">
        <input matInput placeholder="Type" [(ngModel)]="data.type" name="type" required>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="actions">
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
