<div >
<div class="container">
  
    <form (ngSubmit)="submit" #formControl="ngForm">
      <span mat-dialog-title style="font-weight: 800;">
        <span>Change user settings</span>
        <button mat-raised-button color="accent" style="float:right" [type]="submit" [disabled]="!formControl.valid" (click)="updateSettings(settings)">Save</button>
      </span>
      
    <br>
    <br>
      <div class="form">
        <mat-form-field color="primary">
          <input matInput #input class="form-control" placeholder="Name" [(ngModel)]="settings.userName" name="name" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="primary">
          <input matInput #input class="form-control" placeholder="Picture url" [(ngModel)]="settings.picture" name="picture">
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="primary">
          <input matInput #input type="number" class="form-control" placeholder="Energy consumption limit (kw/h)" [(ngModel)]="settings.maxEnergyConsumption" name="energyConsumption">
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button (click)="addCamera()" style="float: right">Add camera</button>
      <br>
      <br>

      <div class="form" *ngFor="let camera of settings.cams; let index = index;">
        <mat-form-field color="primary">
          <textarea matInput #input rows="1" class="form-control" placeholder="Camera №{{index + 1}}" [(ngModel)]="camera.value" name={{index}}></textarea>
        </mat-form-field>
        <button mat-icon-button color="accent" style="font-size: 1rem;" (click)="removeCamera(index)">
          <mat-icon>close</mat-icon>
      </button>
      </div>
      
    </form>
</div>
</div>