<div [ngStyle]="{'font-size': mini ? '14px' : 'initial'}">
    <h4 matTooltipPosition="above"
    [matTooltip]="device.description"
    [ngStyle]="{'text-align': mini ? 'center' : 'left'}">{{ device.name | slice:0:27 }}{{ device.name.length > 27 ? '&hellip;' : '' }}</h4>

    <img *ngIf="device.image !== null && !mini" class="device-image handle"
    [src]="imageName"
    onerror="this.style.display='none'"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()">

    <mat-icon *ngIf="device.image == null && !mini" matListIcon
        class="device-image handle"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()">drag_handle
    </mat-icon>  

    <span class="topic" *ngIf="!mini">
        topic: {{ device.topic }} 
    </span>
    
    <div *ngIf="!mini" class="topic">State: {{device.state ? device.state : 'off'}}</div>

    <mat-form-field [ngClass]="mini ? 'button-group-mini':'button-group'">
        <mat-label>Parameter</mat-label>
        <input matInput type="text" [(ngModel)]="stateToSend" >
        <mat-icon matSuffix class="unselectable clickable"
        (click)="sendParam()"
        [ngClass]="mini ? 'send-icon-mini':'send-icon'">send</mat-icon>
    </mat-form-field>
</div>