<div class="text">
    <h4 matTooltipPosition="above" [matTooltip]="device.description">{{ device.name | slice:0:27 }}{{ device.name.length > 27 ? '&hellip;' : '' }}</h4>

    <span class="topic">
        topic: {{ device.topic }} 
        <img *ngIf="device.image !== null" class="device-image handle"
            [matTooltip]="device.description"
            [src]="imageName"
            onerror="this.style.display='none'"
            (mousedown)="$event.stopPropagation()"
            (touchstart)="$event.stopPropagation()">

        <mat-icon *ngIf="device.image == null" matListIcon
            class="device-image handle"
            (mousedown)="$event.stopPropagation()"
            (touchstart)="$event.stopPropagation()">drag_handle
        </mat-icon>            
    </span>
    
    <div class="topic">State: {{device.state ? device.state : 'off'}}</div>

    <mat-form-field class="form-field button-group">
        <mat-label>Parameter</mat-label>
        <input matInput type="text" [(ngModel)]="stateToSend">
        <mat-icon matSuffix class="unselectable clickable send-icon" (click)="sendParam()">send</mat-icon>
    </mat-form-field>
</div>