h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.mat-icon {
    font-size: 1em;
}
  
.mat-icon {
    position: relative;
    padding: 0 20px;
    top: 5px;
}

.button-group {
    bottom: -25px;
    width: 100%;
}

.send-icon {
    font-size: 2rem !important;
    font-weight: bold;
    width: 1rem !important;
}

.device-image {
    font-size: 24px;
    top: 0px;
    right: 0px;
    position: absolute;
    padding: 10px;
}

.device-image:hover {
    cursor: grab;
}

.device-image:active {
    cursor: grabbing;
}

.info {
    height: 50px;
}

.topic {
    font-size: 0.8rem;
}

.power-butt-on {
    color: green;
}