@import '~@angular/material/theming';
@include mat-core();

// Available color palettes: https://material.io/design/color/
$main-primary: mat-palette($mat-indigo);
$main-accent: mat-palette($mat-indigo);
$main-warn: mat-palette($mat-red, 800);

$main-theme: mat-light-theme($main-primary, $main-accent, $main-warn);
@include angular-material-theme($main-theme);

$dark-primary: mat-palette($mat-grey, 900);
$dark-accent: mat-palette($mat-grey, 100);
$dark-warn: mat-palette($mat-red, 800);

$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.alternative {
    @include angular-material-theme($dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.clickable:hover {
    cursor: pointer;
}