h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.mat-icon {
    font-size: 1em;
}
  
.mat-icon {
    position: relative;
    padding: 0 0.4em;
    top: 0.2em;
}

.button-group {
    text-align: center;
}

.power-icon {
    font-size: 3em;
    font-weight: bold;
    width: auto;
}

.device-image {
    font-size: 1.8em;
    top: 0px;
    right: 0px;
    position: absolute;
    padding: 10px;
}

.device-image:hover {
    cursor: grab;
}

.device-image:active {
    cursor: grabbing;
}

.topic {
    font-size: 0.8em;
}

.power-butt-on {
    color: green;
}