h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.mat-icon {
    font-size: 1em;
}
  
.mat-icon {
    position: relative;
    padding: 0 20px;
    top: 5px;
}

.button-group {
    margin-top: 1rem;
    text-align: center;
}

.power-icon {
    font-size: 3rem;
    font-weight: bold;
    width: auto;
}

.device-image {
    font-size: 24px;
    top: 0px;
    right: 0px;
    position: absolute;
    padding: 10px;
}

.info {
    height: 50px;
}

.topic {
    font-size: 0.8rem;
}

.power-butt-on {
    color: green;
}