<div class="text">
    <h4>{{ device.name }}</h4>

    <span class="topic">
        topic: {{ device.topic }} 
        <img style="float: right;" class="device-image" [src]="imageURL" [alt]="device.name">
    </span>
    
    <div>turned {{device.state ? 'on': 'off'}}</div>

    <div class="button-group">
        <mat-icon [style.color]="device.state !== '0'? 'green' : 'black'" (click)="toggle()" class="unselectable clickable power-icon">power_settings_new</mat-icon>
    </div>
</div>
<div class="widget">
    
</div>