<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{getUser().name}}</h2>
            <h4>{{getUser().email}}</h4>
        </div>
        <img [src]="getUser().picture" alt="Anton Shkilevich">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['devices']"><mat-icon>dvr</mat-icon>Devices</a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['dashboard']"><mat-icon>dashboard</mat-icon>Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['reports']"><mat-icon>timeline</mat-icon>Reports</a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['cam']"><mat-icon>videocam</mat-icon>Camera</a>
    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['settings']"><mat-icon>settings</mat-icon>Settings</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Info</h2>

    <a mat-list-item routerLinkActive="list-item-active" [routerLink]="['wiki']">
        <mat-icon>import_contacts</mat-icon>
        Wiki
    </a>

</mat-nav-list>