<div class="wrap">
    <img class="main-image" src="./assets/smart-home.png">
    <div class="panel">
        <h1>WELCOME TO HOM!E</h1>
        <!-- <p (click)="startWork()">Your smart house assistant</p> -->
        <p class="info">Our system will help you to configure your smart home. Control all your devices and track the state of all of them from a single web interface</p>
        <p class="info">Observe. Control. Automate.</p>
        <div class="center">
            <button class="main-button clickable" (click)="logIn()">Start now</button>
        </div>
    </div>
</div>
